.App {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  text-align: center;
  background-image: url("https://source.unsplash.com/random");
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;  
}

